.blink {
    animation: blinker 1260ms steps(1) infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.blinkBorder {
    /*animation: borderBlink 1260ms steps(1) infinite;*/
    border: 1px solid black;
}

@keyframes borderBlink {
    50% {
        border-right-width: 1px;
    }
}

.wiggle {
    display: inline-block;
    animation: wiggler 500ms alternate linear infinite;
    margin-right: 20px;
}
@keyframes wiggler {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
